


        <div class="container">
            <div class="row">
                <div class="col-md-9 full-width-post">
                    <div class="post margin-b-40">
                        <div class="post-header text-center">
                            <h3 class="post-title">Song Title</h3>
                            <span class="author">Written by Author</span>
                            <span class="date">Published Date</span>
                        </div><!--post header-->
                        <div class="post-img">
                          <iframe height="170" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/62974792&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
                        </div><!--post img-->
                        <div class="post-entry">
                            <div class="post-title">
                                
                            </div>
                                <p class="post-verse"><strong>Verse 1</strong></p>
                                <p class="song">There’s no darkness in Your eyes<br>
                                There’s no question in Your mind<br>
                                God almighty<br>
                                God of mercy<br>
                                There’s no hiding from Your face<br>
                                There’s no striving in Your grace<br>
                                God of mercy<br>
                                God almighty</p>
                                
                                <p class="post-chorus"><strong>Chorus 1</strong></p>
                                <p class="song">Let there be light<br>
                                Open the eyes of the blind<br>
                                Purify our hearts in Your fire<br>
                                Breathe in us we pray<br>
                                Jesus have Your way<br>
                                </p>
                                <p class="post-verse"><strong>Verse 2</strong></p>
                                <p class="song">
                                There’s no borders in Your love<br>
                                No division in Your heart<br>
                                God of heaven<br>
                                God of freedom<br>
                                There’s no taking back the cross<br>
                                No regret in what it cost<br>
                                God of freedom<br>
                                God of heaven</p>
                                <p class="post-chorus"><strong>Chorus 2</strong></p>
                                <p class="song">Let there be light<br>
                                Open the eyes of the blind<br>
                                Purify our hearts in Your fire<br>
                                Breathe in us we pray<br>
                                Let there be light<br>
                                Open our eyes to Your heart<br>
                                Desperate just to know whoYou are<br>
                                Shine in us we pray<br>
                                Jesus have Your way</p>
                                <p class="post-bridge"><strong>Bridge</strong></p>
                                <p class="song">Good news embracing the poor<br>
                                Comfort for all those who mourn<br>
                                For the broken hearted<br>
                                We sing louder<br>
                                Release from prison and shame<br>
                                Oppression turning to praise<br>
                                For every captive<br>
                                Sing louder<br>
                                Restoring sight to the blind<br>
                                Breaking the curse of the night<br>
                                For all in darkness<br>
                                Sing louder<br>
                                Proclaiming freedom for all<br>
                                This is the day of the Lord<br>
                                Beauty for ashes</p>                               
                                <p class="post-chorus"><strong>Verse 3</strong></p>
                                <p class="song">Let the light that shines above<br>
                                Become the light that shines in us<br>
                                There’s no darkness in Your way<br>
                                So have Your way<br>
                                Lord have Your way</p>
                                <p>
                                    Click here to share:<%= social_share_button_tag("Song title",'data-facebook-title' => 'Song1',desc: "The summary of page", :url => "https://upperoom-united.herokuapp.com/lyrics/show.html?lyrics=lyrics1") %>
                                </p>                                  
                        </div><!--post entry-->
                    </div>
                </div>
                


                <article class="col-md-3 list-lyrics">
                    <div class="padding-grid-3">
                        <center><h3>Other <strong>Songs</strong></h3></center>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor consctetur</a></li>
                            <li><a href="#">Adipisicing eusmod tempor incididunt</a></li>
                            <li><a href="#">Dolore magna aliqua enim ad minim</a></li>
                            <li><a href="#">Quis nostrud exercitation ullamco laboris</a></li>
                            <li><a href="#">Nisi ut aliquip ex ea commodo</a></li>
                            <li><a href="#">Duis aute irure dolor in reprehenderit</a></li>
                            <li><a href="#">Coluptate velit esse cillum</a></li>
                            <li><a href="#">Dolore eu fugiat nulla pariatur</a></li>
                            <li><a href="#">Excepteur sint occaecat cupidatat</a></li>
                            <li><a href="#">Sunt in culpa qui officia</a></li>
                            <li><a href="#">Deserunt mollit anim id est laborum</a></li>
                        </ul>
                    </div>
                </article>  
                
            </div>
        </div>

<!--         <div class="row" >
            <div class="col-md-9 full-width-post" style="position: relative; left: 25px;">
                <div class="fb-like" data-href="https://upperoom-united.herokuapp.com/lyrics/show.html?lyrics=lyrics1" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </div>
        </div>
 -->