
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="/">Home</a>
            </div>


            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


        <section id="lyrics-body" class="lyrics-body">
            <!-- All content will be loaded here dynamically -->
            <% if @lyrics.present?%>
            <%= render @lyrics %>
            <%end%>

        </section>


        <div class="row" >
            
            <div class="col-md-9 full-width-post" style="position: relative; left: 25px;">
            <p>Like Us? Share Us</p>
              <div class="fb-like" data-href="https://upperoom-united.herokuapp.com" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </div>
        </div>

        <section id="lyrics-footer" class="lyrics-footer">
<!--         <ul class="list-inline">
            <li><a target="_blank" href="https://wrapbootstrap.com/user/design_mylife">Support</a></li>
            <li><a target="_blank" href="https://www.facebook.com/rakeshdesigns/">Facebook</a></li>
              <li><a target="_blank" href="https://twitter.com/rakesh_wd">Twitter</a></li>
        </ul> -->
        <span>&copy; Copyright 2017. Upperoom United</span>
        </section>


    <!-- jQuery -->
    <script src="/assets/jquery.js" /></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/bootstrap.min.js" /></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="/assets/jquery.easing.min.js" /></script>
    <script src="/assets/scrolling-nav.js" /></script>
    <script src="/assets/wow.min.js"  /></script>
    
    <script src="/assets/jquery.stellar.min.js" /></script>
    <script src="/assets/jquery.flexslider-min.js" /></script>
    <script src="/assets/custom.js" /></script>
    <script src="/assets/jquery.prettysocial.js" /></script>

<!--         <script type="text/javascript" class="source">
            $('.prettySocial').prettySocial();
        </script> -->