<html>
<head>
  <title>Upperoom United</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--     <meta name="description" content="Lyrics For You">
    <meta name="author" content="Upperoom United">
    <meta name="keywords" content="lyrics,God,Jesus,Upperoom United"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    
    <meta property="og:url"           content="https://upperoom-united.herokuapp.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Upperoom United" />
    <meta property="og:description"   content="Sing to the Lord" />
    <meta property="og:image"         content="https://www.google.com.au/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjSpLjt0cTTAhXEFpQKHYnCDVAQjRwIBw&url=http%3A%2F%2Fkingofwallpapers.com%2Fband.html&psig=AFQjCNGl3zHVYBV3y7LntMb_pYbm8KvvEw&ust=1493382600583563" />
      <link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link href="/assets/animate.css" rel="stylesheet">
      <link href="/assets/lyrics.css" rel="stylesheet" type="text/css">
      <link href="/assets/scrolling-nav.css" rel="stylesheet" type="text/css">
      <link href="/assets/social-share-button.css" rel="stylesheet" type="text/css">
      <script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
<!--   <%= csrf_meta_tags %> -->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" >
  <!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
     (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

     window.fbAsyncInit = function(){  // this gets triggered when FB object gets initialized
            console.log("FB Object initiated");
            FB.XFBML.parse(); // now we can safely call parse method
       };


</script>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Home</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">The Band</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#lyrics">Album</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>We are Upperoom United</h1>
                    <p>As a remembrance of our Father, we sing for his GLORY.</p>
                    <a class="btn btn-default page-scroll" href="#about">The Band</a>
        </div>
    </section>
    <!-- About Section -->
    <section id="about" class="about-section">     
        <div class="container">
            <div class="row">
             <div class="col-sm-8 col-sm-offset-2">
                        <div class="center-title">
                            <h2>Meet our <strong>Band</strong></h2>
                            <p>
                                Description about the band. Founded 2017.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-4 margin30">
                        <div class="team-col wow animated fadeInLeft" data-wow-delay="0.1s">
                            <img src="../assets/app-android.png" class="img-responsive" alt=""></a>
                            <div class="divide20"></div>
                            <h3>Eugene Lam</h3>
                            <em>Guitarist</em>
                            <div class="divide20"></div>
                        </div><!--team col-->
                    </div><!--col-md-3 col-sm-6--> 
                    <div class="col-sm-6 col-sm-4 margin30">
                        <div class="team-col wow animated fadeInLeft" data-wow-delay="0.3s">
                            <img src="../assets/app-android.png" class="img-responsive" alt=""></a>
                            <div class="divide20"></div>
                            <h3>XXX</h3>
                            <em>XXX</em>
                            <div class="divide20"></div>
                        </div><!--team col-->
                    </div><!--col-md-3 col-sm-6-->
                    <div class="col-sm-6 col-sm-4 margin30">
                        <div class="team-col wow animated fadeInLeft" data-wow-delay="0.5s">
                            <img src="../assets/app-android.png" class="img-responsive" alt=""></a>
                            <div class="divide20"></div>
                            <h3>XXX</h3>
                            <em>XXX</em>
                            <div class="divide20"></div>
                        </div><!--team col-->
                    </div><!--col-md-3 col-sm-6-->
            </div>
        </div>
    </section>

    <!-- Lyrics Section -->
    <section id="lyrics" class="lyrics-section">
        <div class="center-title">
            <h2><strong>Album</strong></h2>
        </div>
        <div class="container">
            <div class="row">
                      
                    <div class="col-sm-4 wow animated bounceIn " data-wow-delay="0.1s">
                        <a href="lyrics/show.html?lyrics=lyrics1"  class="lyrics-box">
                            <div class="overlay"></div>
                            <img src="../assets/intro.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="lyrics-desc">
                            <h4>Songs-1</h4>
                            Short Description
                        </div>
                    </div><!--col end-->

                    <div class="col-sm-4 wow animated bounceIn " data-wow-delay="0.3s">
                        <a href="lyrics/show.html?lyrics=lyrics2"  class="lyrics-box">
                            <div class="overlay"></div>
                            <img src="../assets/intro.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="lyrics-desc">
                            <h4>Songs-2</h4>
                            Short Description
                        </div>
                    </div><!--col end-->
                    <div class="col-sm-4 wow animated bounceIn " data-wow-delay="0.5s">
                        <a href="lyrics/show.html?lyrics=lyrics3"  class="lyrics-box">
                            <div class="overlay"></div>
                            <img src="../assets/intro.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="lyrics-desc">
                            <h4>Songs-3</h4>
                            Short Description
                        </div>
                    </div><!--col end-->              
            </div>

            <div class="row">
                    <div class="col-sm-4 wow animated bounceIn " data-wow-delay="0.7s">
                        <a href="lyrics/show.html?lyrics=lyrics4"  class="lyrics-box">
                            <div class="overlay"></div>
                            <img src="../assets/intro.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="lyrics-desc">
                            <h4>Songs-4</h4>
                            Short Description
                        </div>
                    </div><!--col end-->
                    <div class="col-sm-4 wow animated bounceIn " data-wow-delay="0.9s">
                        <a href="lyrics/show.html?lyrics=lyrics5"  class="lyrics-box">
                            <div class="overlay"></div>
                            <img src="/assets/intro.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="lyrics-desc">
                            <h4>Songs-5</h4>
                            Short Description
                        </div>
                    </div><!--col end-->
                    <div class="col-sm-4 wow animated bounceIn " data-wow-delay="1.1s">
                        <a href="lyrics/show.html?lyrics=lyrics6"  class="lyrics-box">
                            <div class="overlay"></div>
                            <img src="/assets/intro.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="lyrics-desc">
                            <h4>Songs-6</h4>
                            Short Description
                        </div>
                    </div><!--col end-->
                </div>
        </div>

    </section>

        <div class="row" >
        
            <div class="col-md-9 full-width-post" style="position: relative; left: 25px;">
            <p>Like Us? Share Us</p>
              <div class="fb-like" data-href="https://upperoom-united.herokuapp.com" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

            </div>
        </div>

    <footer class="footer">
<!--         <ul class="list-inline">
            <li><a target="_blank" href="https://wrapbootstrap.com/user/design_mylife">Support</a></li>
            <li><a target="_blank" href="https://www.facebook.com/rakeshdesigns/">Facebook</a></li>
              <li><a target="_blank" href="https://twitter.com/rakesh_wd">Twitter</a></li>
        </ul> -->
        <span>&copy; Copyright 2017. Upperoom United</span>
    </footer>

    <!-- jQuery -->
    <script src="/assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="/assets/jquery.easing.min.js"></script>
    <script src="/assets/scrolling-nav.js"></script>
    <script src="assets/wow.min.js" ></script>
    
    <script src="assets/jquery.stellar.min.js"></script>
    <script src="assets/jquery.flexslider-min.js" ></script>
    <script src="assets/custom.js"></script>


</body>
</html>


