<!DOCTYPE html>
<html>
<head>
  <title>Upperoom United</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lyrics For You">
    <meta name="author" content="Upperoom United">
    <meta name="keywords" content="lyrics,God,Jesus,Upperoom United">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    
    <!-- <meta property="og:url"           content="https://upperoom-united.herokuapp.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Upperoom United" />
    <meta property="og:description"   content="Sing to the Lord" />
    <meta property="og:image"         content="https://www.google.com.au/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjSpLjt0cTTAhXEFpQKHYnCDVAQjRwIBw&url=http%3A%2F%2Fkingofwallpapers.com%2Fband.html&psig=AFQjCNGl3zHVYBV3y7LntMb_pYbm8KvvEw&ust=1493382600583563" /> -->
      <link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link href="/assets/animate.css" rel="stylesheet">
      <link href="/assets/lyrics.css" rel="stylesheet" type="text/css">
      <link href="/assets/scrolling-nav.css" rel="stylesheet" type="text/css">
      <link href="/assets/social-button.css" rel="stylesheet" type="text/css">
      <script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<!--   <%= csrf_meta_tags %> -->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<%= yield %>


</body>
</html>
